<form>
    <div class="form-group">
        <button id="stream-btn" class="btn btn-primary">Click to start streaming</button>
    </div>
    <div class="form-group">
        <textarea class="form-control" id="streamed-response">
        </textarea>
    </div>
</form>

@section Scripts {
    <script>
        $('#stream-btn').on('click', (e) => {
            
        })
    </script>
}